body {
    background-image: url(../img/5.gif);
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.8);
    padding-bottom: 2em;
}

.container .jumbotron {
    padding-left: 20px;
    padding-right: 20px;
}

#makeHaikuBtn, #shareHaikuBtn {
    display: none;
    height: 80px;
}

#shareHaiku {
    margin-bottom: 25px;
    margin-right: 15px;
    margin-left: -10px;
}

.haikuSpan {
    font-family: Pacifico, sans-serif;
    font-size: 1.8em;
}

#loadingImage {
    display: block;
}

span.glyphicon-cog {
    font-size: 1.5em;
}

#haikuArea {
    display: none;
    font-size: 2.8em;
    font-family: 'Kaushan Script', cursive;
    color: #e6e6e6;
    background-image: url(../img/startquote2.png), url(../img/endquote2.png);
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
}

#haikuCanvas {
    display: none;
}

.footer {
    font-family: 'IM Fell English SC', serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: black;   
}

/*elmon muokkaukset*/

.body {
    padding-top: 0 !important;
}

.nav {
    background-color: #FFFFFF;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#navbar-brand {
    margin-top: 0.4em;
    margin-right: 1em;
    font-family: 'Kaushan Script', cursive;
    font-size: 2.5em;
    color: black;
}

.collapse.navbar-collapse {
    background-color: #FFFFFF;
    line-height: 2em;
}

/*@media (min-width: 768px) */
.nav-pills{
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float: none;
}

#fb-welcome {
    font-family: Pacifico, serif;  
    color: #e6e6e6;
}

.lead {
    font-family: 'IM Fell English SC', serif;
    font-size: 0.5em;
    color: white;
    opacity: 0.7;
}

.jumbotron p {
    font-size: 2.5em;
}

#pic {
    border-radius: 100%;
}

#like, #share {
    padding-top: 0.5em;
    padding-left: 1em;
}

#topShareBtn {
    font-weight: bold;
    font-size: 1.1em;
}

#privacyContainer {
    background-color: #FFFFFF;
    margin-top: 2em;
}

#helpContainer {
    background-color: #FFFFFF;
    margin-top: 6em;
}

/* Disable navbar collapse */

.navbar-collapse.collapse {
    display: block!important;
}

.navbar-nav>li, .navbar-nav {
    float: left !important;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
}

.navbar-right {
    float: right!important;
}
/* End navbar collapse*/